cachetools==3.1.1
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.12.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
httplib2==0.18.0
humdrum==0.4
ipython-memory-usage==1.2
memory-profiler==0.57.0
protobuf==3.11.3
psutil==5.7.0
PyPDF2==1.26.0
rsa==4.7
uritemplate==3.0.1
